/* GALLERY BUTTONS */
.gallery-container button {
    background-color: var(--clr3);
    background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
}

.gallery-container button:hover {
    opacity: .7;
}



.gallery-container {
    display: flex;
    flex-direction: column;
    /* margin: auto; */
    background-color: var(--clr1);
    height: 100%;
}

.grid-container {
    display: grid;
    gap: 1rem;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: center;
    justify-content: center;
    margin: 0 3rem;
}

.gallery img {
    width: 100%;
    object-fit: contain;
    margin: 1rem 0;
    border-radius: 10px;
}

.grid-item {
    border-radius: 20px;
}






.gallery-header {
    display: flex;
    align-items: center;
    margin: 20px 45px;
    gap: 30px;
}

.gallery-header>* {
    min-height: 58px;
    font-size: 2rem;
    flex: 1;
    font-family: poppins-medium;
    color: white;
    border-radius: 20px;
}

.gallery-header .search {
    color: #383b42;
    align-self: stretch;
    /* max-width: 500px; */
    /* background-color: var(--clr5); */
    /* flex-grow: 2; */
}

.gallery-header .key-words {
    padding-top: 12px;
    background-color: #87898d;
    border: 3px solid #87898d;
    border-radius: 10em;
    text-align: center;
    flex-grow: 2;
    /* white-space: nowrap; */
}

.gallery-nav {
    /* align-items: center; */
    /* justify-content: space-between; */
    /* flex-grow: 1.5; */
    /* align-self: flex-end; */
    width: 100%;
}

.gallery-nav-btns {
    display: flex;
}

.key-words{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 7px;

}
.key-words>* {
    margin-right: 3px;
}


/* .gallery-header button {
    background-color: var(--clr3);
    background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
} */

/* GALLERY */

/* .gallery-container {
    background-color: var(--clr2);
    border-radius: 10px;
    padding: 15px;
    flex-direction: column;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 200px;
    gap: 25px 30px;
    justify-content: center;
    justify-items: center;
} */



/* GALLERY HEADER */

/* .gallery-header .search {
    background-color: var(--clr1);
    border-radius: 30px;
    color: var(--clr2);
    font-family: poppins;
    font-size: 1.3125rem;
}

.gallery-header .search,
.key-words {
    width: 100%;
}

.gallery-header {
    margin: 20px 50px;
    align-items: center;
    gap: 10px;
}

.key-words {
    text-align: center;
    box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);
    border-radius: 25px;
    background-color: #fefefe;
    opacity: 0.4;
    padding: 10px 0;
} */