@import '../css/gallery.css';
@import '../css/editor.css';
@import '../css/modals.css';
@import '../css/break-points.css';

:root {
    --clr-primary: #58c93a;
    /* pallet */
    /* --clr4: #1e1e1e; */
    --clr7: #ffffff;
    --clr6: #21ac91;
    --clr5: #ebeef3;
    --clr4: #fefefe;
    --clr3: #5970c1;
    --clr2: #383b42;
    --clr1: #22252c;

    /* sizes */
    --l: 980px;
    --m: 860px;
    --s: 740px;
}

/* TYPOGRAPHY*/

@font-face {
    font-family: poppins;
    src: url("/fonts/poppins/Poppins-Regular.ttf");
}

@font-face {
    font-family: poppins-SB;
    src: url("/fonts/poppins/Poppins-SemiBold.ttf");
}

@font-face {
    font-family: poppins-EB;
    src: url("/fonts/poppins/Poppins-ExtraBold.ttf");
}

/* BASE */
html {
    font-family: "poppins";
    height: 100%;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--clr1);
    margin: 0;
    padding: 15px;
    height: 100%;
    padding-bottom: 15px;
}

img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-width: 500px;
    max-height: 500px;
}

/* MAIN HEADER */

.main-header {
    background-color: var(--clr3);
    background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
    border-radius: 37px;
    height: 73px;
    margin-bottom: 15px;
    padding-inline-start: 80px;
    padding-inline-end: 80px;
    /* padding-inline-end: 250px; */
    justify-content: space-between;
    align-items: center;
}

.main-header .logo {
    width: 150px;
    color: #fefefe;
    font-size: 1.375rem;
}


/* Navbar container */
.navbar {
    overflow: hidden;
    font-family: Arial;
}

/* Links inside the navbar */
/* .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
} */

/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
}

/* Dropdown button */
.dropdown {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    display: flex;
    justify-content: center;
}

/* Add a red background color to navbar links on hover */
/* .navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: red;
} */

/* Dropdown content (hidden by default) */
.dropdown-content {
    /* display: none; */
    background-color: var(--clr3);
    background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
    top: -45%;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    text-align: center;
    transition: .4s;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: start;
    background-color: var(--clr3);
    background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    opacity: .5;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    /* display: block; */
    top: 10%;
}


/* BUTTONS */

button,
.btn {
    border-radius: 20px;
    transition: .4s;
    padding: 10px 20px;
    color: var(--clr4);
}

button:hover,
.btn:hover {
    cursor: pointer;
}


/* MAIN HEADER BUTTONS */

.main-header .btn {
    background-color: inherit;
    border: none;
    font-size: 1.3125rem;
}

.main-header .btn:hover {
    background-color: var(--clr4);
    color: var(--clr6);
}

/* HELPERS */

.flex {
    display: flex;
}

.hide {
    display: none;
}

/* SCROLL BAR */

::-webkit-scrollbar {
    width: 15px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: var(--clr3);
    background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
    border-radius: 7px;
}

::-webkit-scrollbar-track {
    border-radius: 7px;
    background-color: #22252c;
}